@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --body-color: #0262C2;
    --second-blue-color: #004080;
    --text-color: #ffff;
    --second-text-color: #000;
    --text-info: #e3e0e0;
    --three-text-color: #bbbbbb;
}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------- BODY -------- */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--body-color);
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    position: relative;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding-inline: 8vw;
    background-color: #0259b0;
    box-shadow: 1 2px 4px rgba(0, 0, 0, 0.11);;
}

.nav-logo{
    position: relative;
    top: -65px;
}

.nav-logo img{
    width: 200px;
    height: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    position: relative;
    right: 2%;
}

.nav-list li {
    font-family: 'Opens Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 17px;
    margin-right: 17px;
}

.nav-link {
    font-family: 'Opens Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
}

/*  SECTION HOME */
.section-home {
    display: flex;
    overflow: hidden;
}

.left-home {
    width: 50%;
    height: 600px;
    display: block;
    place-items: center;
}

.left-home h1 {
    top: 100px;
    left: 12%;
    width: 660px;
    font-size: 52px;
    color: var(--text-color);
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.11);
    line-height: 1.1;
    position: relative;
}

.left-home .paragrafo-home {
    position: relative;
    top: 105px;
    left: 13%;
    font-size: 16px;
    color: var(--text-color);
    width: 590px;
}

.left-home p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 660px;
    color: var(--text-color);
    top: 200px;
    left: 12%;
}

.left-home p:nth-of-type(3) {
    position: relative;
    font-size: 14px;
    color: var(--text-color);
    top: 215px;
    left: 12%;
}

.left-home p:nth-of-type(3) a {
    color: var(--text-color);
}

.div-email {
    width: 600px;
    height: 45px;
    top: 210px;
    left: 12%;
    position: relative;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    background-color: var(--text-color);
}

.div-email input {
    font-size: 14px;
    font-weight: 500;
    width: 380px;
    position: relative;
    border: none;
    outline: none;
    left: 15px;
    color: var(--three-text-color);
}

.div-email div button {
    position: relative;
    width: 170px;
    height: 37px;
    top: 4px;
    left: 45px;
    background-color: var(--body-color);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.div-email div button:hover {
    background-color: var(--second-text-color);
    cursor: pointer;
}

.right-home {
    width: 50%;
    height: 600px;
}

.right-home img {
    position: relative;
    left: 15%;
    width: 500px;
    height: auto;
}

/* <!-- SECTION OUTDOOR COMPANIES --> */
.logos {
    overflow: hidden;
    padding: 15px 0;
    background: #f6f5f5;
    white-space: nowrap;
    position: relative;
}
  
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
  
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
  
.logos:hover .logos-slide {
    animation-play-state: paused;
}
  
.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
  
.logos-slide img {
    height: 35px;
    margin: 0 40px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

/* <!-- SECTION SLIDER BLUEPRINTS --> */
.section-slides {
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: var(--text-color);
    overflow: hidden;
}

.div-gif {
    width: 50%;
}

.div-gif h1 {
    position: relative;
    top: 65px;
    left: 20%;
    font-size: 38px;
}

.div-gif img {
    position: relative;
    top: 110px;
    left: 25%;
    width: 450px;
    height: auto;
}

.div-objetivos .div-objetivo01 {
    position: absolute;
    top: 150px;
    right: 300px;
}

.div-objetivos .div-objetivo01 h3 {
    width: 150px;
    font-size: 23px;
}

.div-objetivos .div-objetivo01 p {
    width: 330px;
    height: auto;
    font-size: 14px;
}

.div-objetivos .div-objetivo01 .objetivo01 {
    position: absolute;
    width: 50px;
    top: 20px;
    right: 360px;
    font-size: 22px;
    z-index: 101;
}

.div-objetivos .div-objetivo02 {
    position: absolute;
    top: 320px;
    right: 300px;
}

.div-objetivos .div-objetivo02 h3 {
    width: 150px;
    font-size: 23px;
}

.div-objetivos .div-objetivo02 p {
    width: 330px;
    height: auto;
    font-size: 14px;
}

.div-objetivos .div-objetivo02 .objetivo02 {
    position: absolute;
    width: 50px;
    top: 20px;
    right: 362px;
    font-size: 22px;
    z-index: 101;
}

.div-objetivos .div-objetivo03 {
    position: absolute;
    top: 475px;
    right: 300px;
}

.div-objetivos .div-objetivo03 h3 {
    width: 150px;
    font-size: 23px;
}

.div-objetivos .div-objetivo03 p {
    width: 330px;
    height: auto;
    font-size: 14px;
}

.div-objetivos .div-objetivo03 .objetivo03 {
    position: absolute;
    color: var(--text-color);
    width: 50px;
    top: 20px;
    right: 362px;
    font-size: 22px;
    z-index: 101;
}

.circle4 {
    position: absolute;
    top: 275px;
    right: -65px;
    width: 155px;
    height: 155px;
    background-color: var(--text-color);
    border-radius: 50%;
    z-index: 100;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
}

.circle5 {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 225px;
    right: -115px;
    background-color: #0976e3;
    border-radius: 50%;
    z-index: 99;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
}

.circle6 {
    position: absolute;
    top: 175px;
    right: -165px;
    width: 360px;
    height: 360px;
    background-color: var(--text-color);
    border-radius: 50%;
    z-index: 98;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
}

.circle7 {
    position: absolute;
    top: 125px;
    right: -210px;
    width: 460px;
    height: 460px;
    background-color: var(--text-color);
    border-radius: 50%;
    z-index: 97;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
}

.circle8 {
    position: absolute;
    top: 150px;
    right: 665px;
    width: 70px;
    height: 70px;
    background-color: var(--text-color);
    border-radius: 50%;
    z-index: 99;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.circle9 {
    position: absolute;
    top: 320px;
    right: 665px;
    width: 70px;
    height: 70px;
    background-color: var(--text-color);
    border-radius: 50%;
    z-index: 99;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.circle10 {
    position: absolute;
    top: 475px;
    right: 665px;
    width: 70px;
    height: 70px;
    background-color: #0976e3;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.line01 {
    position: absolute;
    top: 210px;
    right: 190px;
    background-color: black;
    transform: rotate(10deg);
    border-radius: 15px;
    width: 110px;
    height: 2px;
    z-index: 101;
}

.line02 {
    position: absolute;
    top: 335px;
    right: 165px;
    background-color: black;
    transform: rotate(-23deg);
    border-radius: 15px;
    width: 155px;
    height: 2px;
    z-index: 101;
}

.line03 {
    position: absolute;
    top: 445px;
    right: 110px;
    background-color: black;
    transform: rotate(-35deg);
    border-radius: 15px;
    width: 245px;
    height: 2px;
    z-index: 101;
}

.section-slides .uis.uis-check-circle {
    position: absolute;
    top: 205px;
    right: 160px;
    font-size: 26px;
    z-index: 101;
}

.section-slides .uil.uil-rss {
    position: absolute;
    top: 275px;
    right: 140px;
    font-size: 26px;
    z-index: 101;
}

.section-slides .uil.uil-feedback {
    position: absolute;
    color: var(--text-color);
    top: 340px;
    right: 100px;
    font-size: 26px;
    z-index: 101;
}

/* <!-- SECTION PRODUTIVIDADE --> */
.section-produtividade {
    position: relative;
    display: flex;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.section-produtividade img {
    position: absolute;
    top: -120px;
    width: 1500px;
    height: auto;
    z-index: 99;
}

.div-produtividade {
    width: 100%;
    height: 700px;
    background-color: var(--text-color);
    z-index: 99;
}

.div-produtividade h4 {
    position: absolute;
    font-weight: 500;
    width: 870px;
    top: 480px;
    left: 340px;
    z-index: 100;
}

.div-produtividade p {
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    width: 370px;
    top: 515px;
    left: 580px;
    z-index: 100;
}

.div-produtividade button {
    position: absolute;
    top: 555px;
    left: 665px;
    width: 200px;
    height: 35px;
    color: var(--text-color);
    border-radius: 33px;
    background-color: var(--body-color);
    transition: background-color 0.3s ease;
    border: none;
    z-index: 100;
}

.div-produtividade button:hover {
    background-color: var(--second-text-color);
}

.div-produtividade h2:nth-child(1) {
    position: absolute;
    font-weight: 500;
    top: 100px;
    left: 400px;
    z-index: 100;
}

.div-produtividade h2:nth-child(2) {
    position: absolute;
    font-weight: 500;
    top: 100px;
    left: 820px;
    z-index: 100;
}

.icone {
    position: absolute;
    color: var(--body-color);
    font-size: 2rem;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 100;
}

.icone1 {
    top: 125px;
    left: 120px;
    animation: float1 12s infinite;
}

.icone1 i {
    font-size: 72px;
}

.icone2 {
    top: 240px;
    right: 100px;
    animation: float2 15s infinite;
}

.icone2 i {
    font-size: 72px;
}

/* ANIMAÇÃO ICONES INFO SECTION */
@keyframes float1 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, 50px); }
    50% { transform: translate(100px, 0); }
    75% { transform: translate(50px, -50px); }
    100% { transform: translate(0, 0); }
}

@keyframes float2 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-60px, 30px); }
    50% { transform: translate(-50px, 0); }
    75% { transform: translate(-50px, -20px); }
    100% { transform: translate(0, 0); }
}

/* <!-- FOOTER --> */
footer {
    position: relative;
    width: 100%;
    background-color: var(--second-blue-color);
}

footer p, footer a {
    color: var(--text-color);
    text-decoration: none;
}

.div-footer {
    height: 330px;
    justify-content: space-between;
    padding-inline: 5vw;
}

.div-footer img {
    position: relative;
    width: 200px;
    height: auto;
    left: 100px;
}

.div-footer .div-produtos,
.div-footer .div-conteudo,
.div-footer .div-atendimento,
.div-footer .div-institucional {
    width: 200px;
    height: auto;
}

.div-footer .div-produtos {
    position: relative;
    top: -150px;
    left: 450px;
}

.div-footer .div-produtos p {
    width: 80px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-produtos a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-conteudo {
    position: relative;
    top: -232px;
    left: 650px;
}

.div-footer .div-conteudo p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-conteudo a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-atendimento {
    position: relative;
    top: -312px;
    left: 850px;
}

.div-footer .div-atendimento p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-atendimento a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-institucional {
    position: relative;
    top: -394px;
    left: 1050px;
}

.div-footer .div-institucional p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-institucional a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-produtos a:hover,
.div-footer .div-conteudo a:hover,
.div-footer .div-atendimento a:hover,
.div-footer .div-institucional a:hover {
    color: var(--text-color);
}


.div-footer .redes-sociais {
    position: relative;
    width: 150px;
    top: -300px;
    left: 150px;
}

.div-footer .redes-sociais p {
    font-size: 16px;
}

.div-footer .redes-sociais a {
        position: relative;
        left: -45px;
        padding-left: 15px;
}

.div-footer .redes-sociais a i{
    font-size: 32px;
}

.div-termos {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.div-termos p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-top: 2px solid #ffff;
    margin: 0 auto;
    font-size: 16px;
}

.div-termos a {
    display: flex;
    width: 370px;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    margin: 0 auto;
    font-size: 15px;
}

.div-termos a:hover {
    color: var(--three-text-color);
}