@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --body-color: #0262C2;
    --second-blue-color: #004080;
    --text-color: #ffff;
    --second-text-color: #000;
    --text-info: #e3e0e0;
    --three-text-color: #bbbbbb;
}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* ------- BODY -------- */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--body-color);
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    position: relative;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding-inline: 8vw;
    background-color: #0259b0;
    box-shadow: 1 2px 4px rgba(0, 0, 0, 0.11);;
}

.nav-logo{
    position: absolute;
    top: -65px;
}

.nav-logo img{
    width: 200px;
    height: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    right: 3%;
}

.nav-list li {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 17px;
    margin-right: 17px;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}
/* <!-- SECTION SOBRE A BLUEPRINTS --> */
.section-blueprints {
    position: relative;
    background-color: var(--text-color);
    width: 100%;
    height: 450px;
}

.div-blueprints h1{
    position: absolute;
    top: 35px;
    left: 500px;
    font-size: 34px;
    color: var(--second-text-color);
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.11);
}

.div-blueprints img {
    position: absolute;
    top: 80px;
    left: 570px;
    width: 400px;
    height: auto;
}


/* <!-- SECTION QUEM SOMOS --> */
.section-quemsomos {
    position: relative;
    background-color: var(--text-color);
    width: 100%;
    height: 1100px;
}

.div-sobre01 {
    position: absolute;
    border-top: 3px solid #D4D4D4;
    width: 900px;
    height: 250px;
    left: 325px;
}

.div-sobre01 h4,
.div-sobre02 h4,
.div-sobre03 h4,
.div-sobre04 h4,
.div-sobre05 h4 {
    position: absolute;
    top: 20px;
    font-size: 17px;
}

.div-sobre01 p,
.div-sobre04 p {
    position: absolute;
    text-align: justify;
    top: 50px;
    font-size: 13px;
}

.div-sobre02 {
    position: absolute;
    border-top: 3px solid #D4D4D4;
    width: 900px;
    height: 250px;
    left: 325px;
    top: 150px;
}

.div-sobre02 p:nth-child(2) {
    position: absolute;
    top: 52px;
    font-size: 13px;
}

.div-sobre02 p:nth-child(3) {
    position: absolute;
    top: 100px;
    font-size: 13px;
}

.div-sobre02 p:nth-child(4) {
    position: absolute;
    text-align: justify;
    top: 100px;
    left: 175px;
    font-size: 13px;
}

.div-sobre02 p:nth-child(5) {
    position: absolute;
    top: 160px;
    font-size: 13px;
}

.div-sobre02 p:nth-child(6) {
    position: absolute;
    text-align: justify;
    top: 160px;
    left: 175px;
    font-size: 13px;
}

.div-sobre03 {
    position: absolute;
    border-top: 3px solid #D4D4D4;
    top: 400px;
    width: 900px;
    height: 250px;
    left: 325px;
}

.div-sobre03 p:nth-child(2) {
    position: absolute;
    top: 65px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(3) {
    position: absolute;
    text-align: justify;
    top: 65px;
    left: 200px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(4) {
    position: absolute;
    top: 115px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(5) {
    position: absolute;
    text-align: justify;
    top: 115px;
    left: 200px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(6) {
    position: absolute;
    top: 165px;
    font-size: 13px;;
}

.div-sobre03 p:nth-child(7) {
    position: absolute;
    text-align: justify;
    top: 165px;
    left: 200px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(8) {
    position: absolute;
    top: 210px;
    font-size: 13px;
}

.div-sobre03 p:nth-child(9) {
    position: absolute;
    text-align: justify;
    top: 210px;
    left: 200px;
    font-size: 13px;
}

.div-sobre04 {
    position: absolute;
    text-align: justify;
    border-top: 3px solid #D4D4D4;
    top: 680px;
    width: 900px;
    height: 250px;
    left: 325px;
}

.div-sobre05 {
    position: absolute;
    border-top: 3px solid #D4D4D4;
    width: 500px;
    height: 250px;
    top: 825px;
    left: 325px;
}

.div-sobre05 p:nth-child(2) {
    position: absolute;
    text-align: justify;
    top: 50px;
    font-size: 13px;
}

.div-sobre05 a {
    position: absolute;
    color: var(--second-text-color);
    top: 120px;
    font-size: 13px;
}

.div-sobre05 a i {
    font-size: 22px;
    margin-right: 3px
}

.div-curiosidade {
    position: relative;
    color: var(--text-color);
    padding: 22px 22px 22px 22px;
    border-radius: 12px;
    background-color: var(--body-color);
    top: 825px;
    height: 225px;
    left: 850px;
    width: 375px;
}

.div-curiosidade h3 {
    position: absolute;
    font-size: 22px;
    left: 115px;
}

.div-curiosidade p {
    position: relative;
    padding: 12px;
    text-align: justify;
    font-size: 13px;
    top: 35px;
}


/* <!-- FOOTER --> */
footer {
    position: absolute;
    width: 100%;
    background-color: var(--second-blue-color);
}

footer p, footer a {
    color: var(--text-color);
    text-decoration: none;
}

.div-footer {
    height: 330px;
    justify-content: space-between;
    padding-inline: 5vw;
}

.div-footer img {
    position: relative;
    width: 200px;
    height: auto;
    left: 100px;
}

.div-footer .div-produtos,
.div-footer .div-conteudo,
.div-footer .div-atendimento,
.div-footer .div-institucional {
    width: 200px;
    height: auto;
}

.div-footer .div-produtos {
    position: relative;
    top: -150px;
    left: 450px;
}

.div-footer .div-produtos p {
    width: 80px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-produtos a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-conteudo {
    position: relative;
    top: -232px;
    left: 650px;
}

.div-footer .div-conteudo p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-conteudo a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-atendimento {
    position: relative;
    top: -312px;
    left: 850px;
}

.div-footer .div-atendimento p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-atendimento a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-institucional {
    position: relative;
    top: -394px;
    left: 1050px;
}

.div-footer .div-institucional p {
    width: 100px;
    font-size: 16px;
    padding-bottom: 5px;
}

.div-footer .div-institucional a {
    display: block;
    width: 170px;
    padding-bottom: 5px;
    color: var(--three-text-color);
    font-size: 14px;
}

.div-footer .div-produtos a:hover,
.div-footer .div-conteudo a:hover,
.div-footer .div-atendimento a:hover,
.div-footer .div-institucional a:hover {
    color: var(--text-color);
}


.div-footer .redes-sociais {
    position: relative;
    width: 150px;
    top: -300px;
    left: 150px;
}

.div-footer .redes-sociais p {
    font-size: 16px;
}

.div-footer .redes-sociais a {
        position: relative;
        left: -45px;
        padding-left: 15px;
}

.div-footer .redes-sociais a i{
    font-size: 32px;
}

.div-termos {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.div-termos p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-top: 2px solid #ffff;
    margin: 0 auto;
    font-size: 16px;
}

.div-termos a {
    display: flex;
    width: 370px;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    margin: 0 auto;
    font-size: 15px;
}

.div-termos a:hover {
    color: var(--three-text-color);
}

/* Para tablets em modo paisagem e menores */
@media (max-width: 1024px) {
    .div-blueprints h1 {
        left: 250px;
    }

    .div-blueprints img {
        left: 300px;
    }

    .div-sobre01,
    .div-sobre02,
    .div-sobre03,
    .div-sobre04,
    .div-sobre05 {
        left: 65px;
    }

    .div-curiosidade {
        left: 600px;
    }
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .div-blueprints h1 {
        font-size: 30px;
        left: 155px;
    }

    .div-blueprints img {
        left: 180px;
    }

    .div-sobre01, .div-sobre02, .div-sobre03, .div-sobre04, .div-sobre05 {
        width: 710px;
        left: 25px;
    }

    .div-sobre02 p:nth-child(4),
    .div-sobre02 p:nth-child(6) {
        font-size: 12px;
        font-weight: 500;
    }

    .div-sobre05 {
        width: 375px;
    }

    .div-curiosidade {
        width: 300px;
        left: 435px;
    }

    .div-curiosidade h3 {
        left: 85px;
    }
}